In [12]:
import pandas as pd

In [11]:
def load_companies():
    companies = pd.read_csv('../../../data/companies/companies.csv')
    companies['companyId'] = companies['CIF']
    companies['totalEmployees'] = companies['EMPLEADOS']
    companies['postalCode'] = companies['CODPOSTAL']
    companies['activity'] = companies['CNAE09']  
    companies['saleAmount'] = companies['RANGO_VENTAS'].map(lambda x: x[:2])
    return companies[companies.columns[18:]]
    
companies = load_companies()
companies.head(5)

   companyId  totalEmployees  postalCode  activity saleAmount
0  A0021149J              70       28020      6629         06
1  A0021155G              32       28046       651         03
2  A0041528A              23       28760      4643         04
3  A0041676H              30       28006      6629         04
4  A0051012C              95       28046       641         03